<table class="detailtable" width="100%">
	<colgroup>
		<col width="35%">
		<col width="35%">
		<col width="30%">
	</colgroup>
	<tbody>
		<tr>
			<td rowspan="4" style="text-align: center;">
				<div class='GridUploadfile' height='100'>
					<ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle1'
						(created)="onUploaderCreate()"></ejs-uploader>
				</div>
			</td>
			<td rowspan="4" style="text-align: center;">

			</td>
			<td>
				<span style="font-weight: 500;">First Name: </span>
			</td>

		</tr>
		<tr>
			<td>
				<span style="font-weight: 500;">Last Name: </span>
			</td>

		</tr>
		<tr>
			<td>
				<span style="font-weight: 500;">Title: </span>
			</td>

		</tr>
		<tr>
			<td>
				<span style="font-weight: 500;">Address: </span>
			</td>

		</tr>
	</tbody>
</table>